* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #26335D;
  background-image: url(./assets/menina.png);
  background-repeat: no-repeat;
  background-size: 100% auto;

  padding: 0 197px;
  padding-bottom: 100px;
  font-family: 'Montserrat', sans-serif;
  color: #FFF;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 91px;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

ul {
  display: flex;
  flex: 1;
  gap: 21px;

  margin-left: 83px;
}

ul li {
  list-style: none;

  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

a {
  text-decoration: none;
  color: #FFF;
}

.hero h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.hero h1 {
  font-size: 58px;
  font-weight: 700;
  line-height: 80px;

  width: 542px;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 35px;

  padding: 80px 0;
}

.hero h4 {
  width: 396px;
}

.btn-actios {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 0 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: none;
  border-radius: 5px;

  background-color: transparent;

  color: #FFF;
  cursor: pointer;
}

.btn-primary {
  background: #8D5CF6;
  border: none;
  padding: 15px 25px;

}

.btn-primary:hover {
  background-color: #6223eb;
}

.btn-secondary:hover {
  background-color: #FFF;
  color: #6223eb;
}

.btn-secondary {
  border: 1px solid #ECECEC;

}

.btn-padding {
  padding: 15px 40px;
}

.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  margin-bottom: 80px;
}

.card-img {
  width: 70px;
  height: 76px;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  background: #E74040;
}

.card {
  display: flex;
  height: 292px;
  flex-direction: column;
  align-items: flex-start;

  padding: 35px 40px;
  gap: 20px;

  background: var(--light-background-color, #FFF);
}

.card:hover {
  filter: hue-rotate(7deg) contrast(101%) saturate(200%);
  transform: scale(1.1);
  transition: all 200ms ease-out;

  cursor: pointer;
}

.card p {
  color: #737373;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.card h5 {
  color: #252B42;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;

}

.line {
  width: 50px;
  height: 2px;

  background: #E74040;
}

.numbers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  margin: 80px 0;
}

.numbers h1 {
  color: #8D5CF6;
  text-align: center;

  font-size: 58px;
  font-weight: 700;
  line-height: 80px;
}

.numbers h5 {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.h5-title {
  color: #252B42;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px
}

.product-content {
  display: flex;
  align-items: center;
  margin: 160px 0;
  gap: 30px;
}

.product-details {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.product-details .line {
  background-color: #E74040;

  width: 94px;
  height: 7px;
}

.courses-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-details h2,
.courses-text h2,
.Pricing-header h6,
.header h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}

.product-details p,
.courses-text p,
.courses-card p,
.Pricing-header p,
.header p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.courses-text p {
  width: 469px;
}



.courses-card p {
  color: #737373;
}

.product-details p {
  width: 351px;
}


.courses-text h6,
.row a,
.Pricing-header h6,
.header h6,
.Newsletter h6{

  color: #8D5CF6;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.courses-details a:hover {
  background:  #8D5CF6;
  color: #FFF;
}

.courses-details h6 {
  color: #737373;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.row a {
  max-width: 70%;

}

.row {
  display: flex;
  justify-content: space-between;
}

.row-start {
  display: flex;
  align-items: flex-start;
  gap: 5px;
}

.rate {
  background: #26335D;
  height: 26px;
  border-radius: 20px;

  display: flex;
  padding: 5px;
  align-items: center;
  margin-left: 10px;
}

.product-details a,
.courses-details a {
  display: flex;
  align-items: center;
  background: transparent;

  color: #8D5CF6;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;

  border: none;
}

.product-details a img {
  width: 9px;
  height: 16px;
}

.certificado {
  padding: 112px 0;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.certificado h6 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.h5-gray {
  color: #BDBDBD;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.h5-red {
  color: #FF7B52;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.courses-card {
  height: 600px;
  background-color: #fff;
}

.course-img {
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  align-items: flex-end;
  display: flex;
  justify-content: center;

  padding-bottom: 24px;
  gap: 10px;
}

.course-one {
  background-image: url(./assets/garota.jfif);
}

.course-two {
  background-image: url(./assets/product.jfif);
}

.course-three {
  background-image: url(./assets/three.jfif);
}

.course-four {
  background-image: url(./assets/four.jfif);
}

.course-img img {
  border-radius: 50%;

  background-color: rgba(255, 255, 255, 0.85);

  padding: 10px;
}

.course-img img:hover {
  background-color: white;
  cursor: pointer;
}

.courses-details {
  padding: 25px 25px 35px 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.courses-details>a {
  display: flex;
  width: 160px;
  padding: 10px 20px;
  align-items: center;
  gap: 10px;
  border-radius: 37px;
  border: 1px solid
}

.Pricing-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Pricing-header p {
  width: 469px;

  padding-bottom: 80px;
}

.cards-page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  background-color: #fff;
  color: #737373;
}

#per-month {
  color: #8EC2F2;
}

.content-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  padding: 8px;
}

.img-bg {
  border-radius: 200px;
  background: #8D5CF6;
}

.img-bg img {
  width: 96px;
  height: 96px;
  padding: 24px 23.5px 24px 24.5px;
}

.card-price-secondary {
  background-color: #6223eb;
}

.card-price-secondary .img-bg {
  border-radius: 200px;
  background: #fff
}

.card-price button {
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;

  border: none;
  display: flex;
  padding: 15px 40px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: #8D5CF6;
}

.card-price-secondary button {
  background-color: #2DC071;
}

.card-price {
  display: flex;
  padding: 50px 40px;
  flex-direction: column;
  align-items: center;
  gap: 35px;


  background-color: #FFF;
}

.card-price-secondary {
  background-color: #6223eb;
}

.card-price h3 {
  color: #252B42;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.card-price-secondary h3 {
  color: #FFF;
}

.card-price > h6:first-of-type {
  width: 142px;
  text-align: center;
}

.card-price h6 {
  color: #737373;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}


.card-price-secondary h6,
#price-one,
#other-price {
  color: #fff;
}

.check-cards h6 {
  color: #FFF;
}

.check-cards .white h6{
  color: #FFF;
}

.card-price h2 {
  color: #8D5CF6;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}

.card-price p,
.conteiner-card p {
  color: #737373;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  width: 204px;
}

.check-cards img {
  width: 32px;
  height: 32px;
  padding: 10px 8px 11px 8px;
  border-radius: 200px;
  background: #2DC071;
}

.check-cards h6 {
  color: #252B42;
  
} 

.check-cards div {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  display: flex;
  gap: 5px;
}

.check-cards {
  width: 243px;
}

.check-cards .check-gray img h6 {
  background-color: #6223eb;
}

.check-cards div .gray-color {
  background-color: #BDBDBD;
}

.card-price button:hover,
.email-actions button:hover {
  background-color: #5b18ec; 
  cursor: pointer;
}

.card-price-secondary button:hover{
  background-color: #14db71;
  cursor: pointer;
}

#Testimonials {
  margin: 160px 0 160px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 80px;
}

.header p {
  width:469px ;
}

.conteiner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;

}
.mean img {
  width: 128px;
  height: 128px;

  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .conteiner-one {
  background-color: #FFF;
  display: flex;
  padding: 25px 25px 0px 25px;
  flex-direction: column;
  align-items: center;
 }

 .conteiner-card {
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: center;
  gap: 15px;
 }

 .conteiner-card p {
  display: flex;
  text-align: center;

  width: 320px;
 }

 .conteiner-card h5 {
  color:#252B42;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px; 
 }

 .conteiner-card h6 {
  color: #737373;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px; 
 }

 .contact-form {
  display: flex;
  padding: 160px;
  flex-direction: column;
  align-items: center;
  gap: 80px;
 }

 .Newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
 }

 .Newsletter p {
  display: flex;
  text-align: center;
  width: 469px;
 }

 .email-actions {
  border-radius: 5px;
  border: 1px solid #E6E6E6;

  background: #F9F9F9;
  width: 100%;
  display: flex;
 }

 .email-actions input {
  flex: 1;
  height: 58px;
  padding: 15px 20px;
  border: 0;
 }

 .email-actions input:focus {
  outline: 0;
 }

 .email-actions button {
  height: 58px;
  padding: 0 15px;
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #E6E6E6;

  background: #8D5CF6;

  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
 }







