* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #26335D;
  background-image: url(./assets/menina.png);
  background-repeat: no-repeat;
  background-size: 100% auto;

  padding: 0 197px;
  padding-bottom: 100px;
  font-family: 'Montserrat', sans-serif;
  color: #FFF;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 91px;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

ul {
  display: flex;
  flex: 1;
  gap: 21px;

  margin-left: 83px;
}

ul li {
  list-style: none;

  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.hero h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.hero h1 {
  font-size: 58px;
  font-weight: 700;
  line-height: 80px;

  width: 542px;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 35px;

  padding: 80px 0;
}

.hero h4 {
  width: 396px;
}

.btn {
  padding: 15px 25px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 5px;

  background-color: transparent;

  color: #FFF;
  cursor: pointer;
}

.btn-primary {
  background: #8D5CF6;
  border: none;
}

.btn-primary:hover {
  background-color: #6223eb;
}

.btn-secondary:hover {
  background-color: #FFF;
  color: #6223eb;
}

.btn-secondary {
  border: 1px solid #ECECEC;

}

.btn-padding {
  padding: 15px 40px;
}

.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  margin-bottom: 80px;
}

.card-img {
  width: 70px;
  height: 76px;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  background: #E74040;


}

.card {
  display: flex;
  height: 292px;
  flex-direction: column;
  align-items: flex-start;

  padding: 35px 40px;
  gap: 20px;

  background: var(--light-background-color, #FFF);
}

.card p {
  color: #737373;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.card h5 {
  color: #252B42;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;

}

.line {
  width: 50px;
  height: 2px;

  background: #E74040;
}

.numbers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  margin-top: 80px;
}

.numbers h1 {
  color: #8D5CF6;
  text-align: center;

  font-size: 58px;
  font-weight: 700;
  line-height: 80px;
}

.numbers h5 {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}